<div class="w-full space-y-2">
  <h1 class="text-3xl">Overview</h1>
  <div class="grid grid-cols-4 gap-3 w-1/2">
    <button
      class="bg-[#E05D00] text-white rounded py-1 border-none outline-none"
      type="button"
    >
      General Settings</button
    ><button
      class="bg-[#E05D00] opacity-80 rounded py-1 border-none outline-none"
      type="button"
    >
      Localization</button
    ><button
      class="bg-[#E05D00] opacity-80 rounded py-1 border-none outline-none"
      type="button"
    >
      Email Settings
    </button>
  </div>
  <div class="flex w-full space-x-2">
    <div class="w-1/2">
      <div class="card bg-white w-full">
        <div
          class="flex justify-between items-center border-b border-x-0 border-t-0 border-solid"
        >
          <h1 class="p-3 text-lg">Website Basic Details</h1>
        </div>
        <div class="w-full p-2 space-y-2">
          <div class="">
            <label class="">Website Name</label>
            <input
              type="text"
              class="w-full border border-solid border-[#999999] rounded p-1"
              placeholder="Enter Website Name"
            />
          </div>
          <div class="">
            <label class="">Logo <span class="text-[#FF0000]">*</span></label>
            <div class="relative">
              <input
                type="text"
                class="w-full border border-solid border-[#999999] rounded p-1"
                placeholder=""
              />
              <button
                type="button"
                class="absolute inset-y-0 right-0 text-white bg-[#E05D00] border-none outline-none rounded-r"
              >
                <span nz-icon nzType="upload" nzTheme="outline"></span>
              </button>
            </div>
            <p class="">Recommended image size is 150px x 150px</p>
            <img src="http://placehold.it/300x80" class="w-1/2" />
          </div>
          <div class="">
            <label class=""
              >Favicon <span class="text-[#FF0000]">*</span></label
            >
            <div class="relative">
              <input
                type="text"
                class="w-full border border-solid border-[#999999] rounded p-1"
                placeholder=""
              />
              <button
                type="button"
                class="absolute inset-y-0 right-0 text-white bg-[#E05D00] border-none outline-none rounded-r"
              >
                <span nz-icon nzType="upload" nzTheme="outline"></span>
              </button>
            </div>
            <p class="">Recommended image size is 16px x 16px or 32px x 32px</p>
            <p class="">Accepted formats: only png and ico</p>
            <img src="http://placehold.it/30x30" class="w-16 h-16" />
          </div>
          <div class="space-x-2">
            <button
              class="bg-[#E05D00] rounded py-2 w-32 text-white border-none outline-none"
            >
              Update
            </button>
            <button
              class="bg-transparent rounded border-[#E05D00] border-solid py-2 w-32 text-[#E05D00]"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="w-1/2">
      <div class="card bg-white w-full">
        <div
          class="flex justify-between items-center border-b border-x-0 border-t-0 border-solid"
        >
          <h1 class="p-3 text-lg">Address Details</h1>
        </div>
        <div class="w-full p-2 space-y-2">
          <div class="">
            <label class=""
              >Address Line 1 <span class="text-[#FF0000]">*</span></label
            >
            <input
              type="text"
              class="w-full border border-solid border-[#999999] rounded p-1"
              placeholder="Enter Address Line 1"
            />
          </div>
          <div class="">
            <label class=""
              >Address Line 2 <span class="text-[#FF0000]">*</span></label
            >
            <input
              type="text"
              class="w-full border border-solid border-[#999999] rounded p-1"
              placeholder="Enter Address Line 2"
            />
          </div>
          <div class="flex space-x-2 w-full">
            <div class="w-1/2">
              <label class="">City <span class="text-[#FF0000]">*</span></label>
              <input
                type="text"
                class="w-full border border-solid border-[#999999] rounded p-1"
                placeholder="City"
              />
            </div>
            <div class="w-1/2">
              <label class=""
                >State/Province <span class="text-[#FF0000]">*</span></label
              >
              <input
                type="text"
                class="w-full border border-solid border-[#999999] rounded p-1"
                placeholder="State/Province"
              />
            </div>
          </div>
          <div class="flex space-x-2 w-full">
            <div class="w-1/2">
              <label class=""
                >Zip/Postal Code <span class="text-[#FF0000]">*</span></label
              >
              <input
                type="text"
                class="w-full border border-solid border-[#999999] rounded p-1"
                placeholder="Zip/Postal Code"
              />
            </div>
            <div class="w-1/2">
              <label class=""
                >Country <span class="text-[#FF0000]">*</span></label
              >
              <input
                type="text"
                class="w-full border border-solid border-[#999999] rounded p-1"
                placeholder="Country"
              />
            </div>
          </div>
          <div class="space-x-2">
            <button
              class="bg-[#E05D00] rounded py-2 w-32 text-white border-none outline-none"
            >
              Update
            </button>
            <button
              class="bg-transparent rounded border-[#E05D00] border-solid py-2 w-32 text-[#E05D00]"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
