<div class="flex flex-col w-full space-y-3">
  <h1 class="my-4 text-3xl w-full">Patients</h1>
  <div class="w-full grid grid-cols-4 gap-4">
    <a routerLink="/dashboard/patient/1">
      <div class="card flex flex-col bg-white p-4">
        <div class="flex flex-col justify-center items-center">
          <img src="http://placehold.it/200x200" class="" />
          <h3 class="">Pecker Wood</h3>
          <span class="">Doc # 001</span>
        </div>
        <nz-divider></nz-divider>
        <div class="flex space-x-2">
          <span class="w-1/2 font-semibold">Phone</span>
          <span class="w-1/2 text-right">+1 452 234 7651</span>
        </div>
        <div class="flex space-x-2">
          <span class="w-1/2 font-semibold">Age</span>
          <span class="w-1/2 text-right">51 Years</span>
        </div>
        <div class="flex space-x-2">
          <span class="w-1/2 font-semibold">Blood Group</span>
          <span class="w-1/2 text-right">AB+</span>
        </div>
      </div></a
    ><a routerLink="/dashboard/patient/1">
      <div class="card flex flex-col bg-white p-4">
        <div class="flex flex-col justify-center items-center">
          <img src="http://placehold.it/200x200" class="" />
          <h3 class="">Denis Gregg</h3>
          <span class="">Doc # 002</span>
        </div>
        <nz-divider></nz-divider>
        <div class="flex space-x-2">
          <span class="w-1/2 font-semibold">Phone</span>
          <span class="w-1/2 text-right">+1 452 234 7651</span>
        </div>
        <div class="flex space-x-2">
          <span class="w-1/2 font-semibold">Age</span>
          <span class="w-1/2 text-right">5 Years</span>
        </div>
        <div class="flex space-x-2">
          <span class="w-1/2 font-semibold">Blood Group</span>
          <span class="w-1/2 text-right">A+</span>
        </div>
      </div></a
    ><a routerLink="/dashboard/patient/1">
      <div class="card flex flex-col bg-white p-4">
        <div class="flex flex-col justify-center items-center">
          <img src="http://placehold.it/200x200" class="" />
          <h3 class="">Kathy Island</h3>
          <span class="">Doc # 003</span>
        </div>
        <nz-divider></nz-divider>
        <div class="flex space-x-2">
          <span class="w-1/2 font-semibold">Phone</span>
          <span class="w-1/2 text-right">+1 452 234 7651</span>
        </div>
        <div class="flex space-x-2">
          <span class="w-1/2 font-semibold">Age</span>
          <span class="w-1/2 text-right">25 Years</span>
        </div>
        <div class="flex space-x-2">
          <span class="w-1/2 font-semibold">Blood Group</span>
          <span class="w-1/2 text-right">B+</span>
        </div>
      </div></a
    ><a routerLink="/dashboard/patient/1">
      <div class="card flex flex-col bg-white p-4">
        <div class="flex flex-col justify-center items-center">
          <img src="http://placehold.it/200x200" class="" />
          <h3 class="">Sharon Stone</h3>
          <span class="">Doc # 004</span>
        </div>
        <nz-divider></nz-divider>
        <div class="flex space-x-2">
          <span class="w-1/2 font-semibold">Phone</span>
          <span class="w-1/2 text-right">+1 452 234 7651</span>
        </div>
        <div class="flex space-x-2">
          <span class="w-1/2 font-semibold">Age</span>
          <span class="w-1/2 text-right">38 Years</span>
        </div>
        <div class="flex space-x-2">
          <span class="w-1/2 font-semibold">Blood Group</span>
          <span class="w-1/2 text-right">O+</span>
        </div>
      </div></a
    ><a routerLink="/dashboard/patient/1">
      <div class="card flex flex-col bg-white p-4">
        <div class="flex flex-col justify-center items-center">
          <img src="http://placehold.it/200x200" class="" />
          <h3 class="">Hanro Feind</h3>
          <span class="">Doc # 005</span>
        </div>
        <nz-divider></nz-divider>
        <div class="flex space-x-2">
          <span class="w-1/2 font-semibold">Phone</span>
          <span class="w-1/2 text-right">+1 452 234 7651</span>
        </div>
        <div class="flex space-x-2">
          <span class="w-1/2 font-semibold">Age</span>
          <span class="w-1/2 text-right">82 Years</span>
        </div>
        <div class="flex space-x-2">
          <span class="w-1/2 font-semibold">Blood Group</span>
          <span class="w-1/2 text-right">O</span>
        </div>
      </div></a
    >
  </div>
</div>
