<div class="flex flex-col w-full space-y-3">
  <h1 class="my-4 text-3xl w-full">Schedule Timings</h1>
  <div class="flex w-full">
    <div class="flex flex-col bg-white w-full p-4 space-y-2">
      <h1 class="">Timing Slot Duration</h1>
      <div class="">
        <select class="">
          <option value="">15 mins</option>
          <option value="">30 mins</option>
          <option value="">45 mins</option>
          <option value="">1 hour</option>
        </select>
      </div>
      <div class="w-full grid grid-cols-7 gap-4">
        <button
          type="button"
          class="bg-transparent rounded-md outline-none hover:bg-[#0083E0] hover:border-[#0083E0] hover:text-white uppercase"
        >
          Sunday
        </button>
        <button
          type="button"
          class="bg-transparent rounded-md outline-none hover:bg-[#0083E0] hover:border-[#0083E0] hover:text-white uppercase"
        >
          Monday
        </button>
        <button
          type="button"
          class="bg-transparent rounded-md outline-none hover:bg-[#0083E0] hover:border-[#0083E0] hover:text-white uppercase"
        >
          Tuesday
        </button>
        <button
          type="button"
          class="bg-transparent rounded-md outline-none hover:bg-[#0083E0] hover:border-[#0083E0] hover:text-white uppercase"
        >
          Wednesday
        </button>
        <button
          type="button"
          class="bg-transparent rounded-md outline-none hover:bg-[#0083E0] hover:border-[#0083E0] hover:text-white uppercase"
        >
          Thursday
        </button>
        <button
          type="button"
          class="bg-transparent rounded-md outline-none hover:bg-[#0083E0] hover:border-[#0083E0] hover:text-white uppercase"
        >
          Friday
        </button>
        <button
          type="button"
          class="bg-transparent rounded-md outline-none hover:bg-[#0083E0] hover:border-[#0083E0] hover:text-white uppercase"
        >
          Saturday
        </button>
      </div>
      <div class="flex w-full justify-end py-2"><a href="">Edit</a></div>
      <div class="w-full">
        <h1 class="">Time Slots</h1>
        <div class="w-full grid grid-cols-5 gap-4">
          <button type="button" class="bg-[#2D7600] text-white rounded-md">
            8:00 am - 11:30 am
          </button>
          <button type="button" class="bg-[#2D7600] text-white rounded-md">
            11:00 am - 4:30 pm
          </button>
          <button type="button" class="bg-[#2D7600] text-white rounded-md">
            1:00 pm - 6:30 pm
          </button>
          <button type="button" class="bg-[#2D7600] text-white rounded-md">
            6:00 pm - 9:30 pm
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
