<div class="flex flex-col w-full space-y-3">
  <h1 class="my-4 text-3xl w-full">Patients Profile</h1>
  <div class="flex w-full space-x-3">
    <div class="flex flex-col w-1/3 space-y-4">
      <div class="card bg-white p-4">
        <div class="flex flex-col justify-center items-center">
          <img src="http://placehold.it/200x200" class="" />
          <h3 class="">Pecker Wood</h3>
          <span class="">Doc # 001</span>
        </div>
        <nz-divider></nz-divider>
        <div class="flex space-x-2">
          <span class="w-1/2 font-semibold">Phone</span>
          <span class="w-1/2 text-right">+1 452 234 7651</span>
        </div>
        <div class="flex space-x-2">
          <span class="w-1/2 font-semibold">Age</span>
          <span class="w-1/2 text-right">51 Years</span>
        </div>
        <div class="flex space-x-2">
          <span class="w-1/2 font-semibold">Blood Group</span>
          <span class="w-1/2 text-right">AB+</span>
        </div>
      </div>
      <div class="card bg-white p-4">
        <table class="w-full">
          <thead class="">
            <tr class="border border-black border-solid border-x-0 border-t-0">
              <th class="px-3 py-2">Latest Booking</th>
            </tr>
          </thead>
          <tbody class="">
            <tr class="border border-black border-solid border-x-0 border-t-0">
              <td class="px-3 py-2">
                <div class="flex space-x-2">
                  <img src="http://placehold.it/60x60" />
                  <div class="flex flex-col">
                    <h4 class="font-semibold">Dr. Peter Wills</h4>
                    <span class="">Orthopedics</span>
                    <span class="">14 Dec 2022 @ 11:00 AM</span>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="border border-black border-solid border-x-0 border-t-0">
              <td class="px-3 py-2">
                <div class="flex space-x-2">
                  <img src="http://placehold.it/60x60" />
                  <div class="flex flex-col">
                    <h4 class="font-semibold">Dr. Wood Pecker</h4>
                    <span class="">Dental</span>
                    <span class="">14 Dec 2022 @ 12:00 AM</span>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="border border-black border-solid border-x-0 border-t-0">
              <td class="px-3 py-2">
                <div class="flex space-x-2">
                  <img src="http://placehold.it/60x60" />
                  <div class="flex flex-col">
                    <h4 class="font-semibold">Dr. Shauna Frenchh</h4>
                    <span class="">Pediatrics</span>
                    <span class="">14 Dec 2022 @ 1:00 PM</span>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="flex flex-col w-2/3">
      <h1 class="">Appointments</h1>
      <div class="flex w-full bg-white my-4">
        <table class="w-full">
          <thead class="uppercase">
            <tr
              class="border-b border-solid border-b-gray-400 border-x-0 border-t-0"
            >
              <th scope="col" class="px-3 py-2">Doctor</th>

              <th scope="col" class="px-3 py-2">Appt Date</th>
              <th scope="col" class="px-3 py-2">Booking Date</th>
              <th scope="col" class="px-3 py-2">Status</th>
              <th scope="col" class="px-3 py-2">&nbsp;</th>
            </tr>
          </thead>
          <tbody class="">
            <tr
              class="border-b border-solid border-b-gray-400 border-x-0 border-t-0"
            >
              <th class="px-3 py-2">
                <div class="flex space-x-2">
                  <img src="http://placehold.it/60x60" />
                  <div class="flex flex-col">
                    <h4 class="font-semibold">Dr. Peter Wills</h4>
                    <span class="">Ortho</span>
                  </div>
                </div>
              </th>
              <td class="px-3 py-2">
                <div class="flex flex-col items-center justify-center">
                  <span class="">14 Nov 2022</span
                  ><span class="text-blue-300">10:00 AM</span>
                </div>
              </td>
              <td class="px-3 py-2">
                <div class="flex flex-col items-center justify-center">
                  <span class="">10 Nov 2022</span>
                </div>
              </td>
              <td class="px-3 py-2">
                <div class="flex justify-center">
                  <div
                    class="bg-[#D5E8D4] px-2 text-[#82B366] rounded-full text-sm"
                  >
                    Confirm
                  </div>
                </div>
              </td>
              <td class="px-3 py-2">
                <div class="flex justify-center space-x-2"></div>
              </td>
            </tr>
            <tr
              class="border-b border-solid border-b-gray-400 border-x-0 border-t-0"
            >
              <th class="px-3 py-2">
                <div class="flex space-x-2">
                  <img src="http://placehold.it/60x60" />
                  <div class="flex flex-col">
                    <h4 class="font-semibold">Dr. Peter Wills</h4>
                    <span class="">Ortho</span>
                  </div>
                </div>
              </th>
              <td class="px-3 py-2">
                <div class="flex flex-col items-center justify-center">
                  <span class="">14 Nov 2022</span
                  ><span class="text-blue-300">10:00 AM</span>
                </div>
              </td>
              <td class="px-3 py-2">
                <div class="flex flex-col items-center justify-center">
                  <span class="">10 Nov 2022</span>
                </div>
              </td>
              <td class="px-3 py-2">
                <div class="flex justify-center">
                  <div
                    class="bg-[#F8CECC] px-2 text-[#B85450] rounded-full text-sm"
                  >
                    Cancelled
                  </div>
                </div>
              </td>
              <td class="px-3 py-2">
                <div class="flex justify-center space-x-2"></div>
              </td>
            </tr>
            <tr
              class="border-b border-solid border-b-gray-400 border-x-0 border-t-0"
            >
              <th class="px-3 py-2">
                <div class="flex space-x-2">
                  <img src="http://placehold.it/60x60" />
                  <div class="flex flex-col">
                    <h4 class="font-semibold">Dr. Peter Wills</h4>
                    <span class="">Ortho</span>
                  </div>
                </div>
              </th>
              <td class="px-3 py-2">
                <div class="flex flex-col items-center justify-center">
                  <span class="">14 Nov 2022</span
                  ><span class="text-blue-300">10:00 AM</span>
                </div>
              </td>
              <td class="px-3 py-2">
                <div class="flex flex-col items-center justify-center">
                  <span class="">10 Nov 2022</span>
                </div>
              </td>
              <td class="px-3 py-2">
                <div class="flex justify-center">
                  <div
                    class="bg-[#FFF2CC] px-2 text-[#B85450] rounded-full text-sm"
                  >
                    Pending
                  </div>
                </div>
              </td>
              <td class="px-3 py-2">
                <div class="flex justify-center space-x-2">
                  <button
                    type="button"
                    class="bg-[#F8CECC] p-2 text-[#B85450] border-none rounded-md hover:opacity-80"
                  >
                    Cancel
                  </button>
                </div>
              </td>
            </tr>
            <tr
              class="border-b border-solid border-b-gray-400 border-x-0 border-t-0"
            >
              <th class="px-3 py-2">
                <div class="flex space-x-2">
                  <img src="http://placehold.it/60x60" />
                  <div class="flex flex-col">
                    <h4 class="font-semibold">Dr. Peter Wills</h4>
                    <span class="">Ortho</span>
                  </div>
                </div>
              </th>
              <td class="px-3 py-2">
                <div class="flex flex-col items-center justify-center">
                  <span class="">14 Nov 2022</span
                  ><span class="text-blue-300">10:00 AM</span>
                </div>
              </td>
              <td class="px-3 py-2">
                <div class="flex flex-col items-center justify-center">
                  <span class="">10 Nov 2022</span>
                </div>
              </td>
              <td class="px-3 py-2">
                <div class="flex justify-center">
                  <div
                    class="bg-[#60A917] px-2 text-[#2D7600] rounded-full text-sm"
                  >
                    Completed
                  </div>
                </div>
              </td>
              <td class="px-3 py-2">
                <div class="flex justify-center space-x-2">
                  <button
                    type="button"
                    class="bg-[#B1DDF0] p-2 text-[#10739E] border-none rounded-md hover:opacity-80"
                  >
                    Reschedule
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
