<div class="flex flex-col w-full space-y-3">
  <h1 class="my-4 text-3xl w-full">Appointments</h1>
  <div class="flex flex-col w-full space-y-4">
    <div class="card flex w-full bg-white p-4 justify-between">
      <div class="flex space-x-3">
        <div class="frame border border-solid w-32 h-32">
          <img src="http://placehold.it/100x100" class="w-full" />
        </div>
        <div class="flex flex-col">
          <h2 class="my-1">Henry Ford</h2>
          <span class="">14 Nov 2022, 10:00 AM</span>
          <span class="">Portmore, St. Catherine</span>
          <span class="">hford@email.com</span>
          <span class="">+1 460 325-1536</span>
        </div>
      </div>
      <div class="flex items-center">
        <div class="flex space-x-3">
          <button
            type="button"
            class="border-none outline-none rounded px-2 text-lg font-medium bg-[#008CFF] text-[#0000CC] hover:opacity-80"
          >
            <span nz-icon nzType="eye" nzTheme="outline"></span>
            View
          </button>
          <button
            type="button"
            class="border-none outline-none rounded px-2 text-lg font-medium bg-[#D5E8D4] text-[#4D9900] hover:opacity-80"
          >
            <span nz-icon nzType="check" nzTheme="outline"></span>
            Accept
          </button>
          <button
            type="button"
            class="border-none outline-none rounded px-2 text-lg font-medium bg-[#FFE6CC] text-[#D79B00] hover:opacity-80"
          >
            <span nz-icon nzType="stop" nzTheme="outline"></span>
            Cancel
          </button>
        </div>
      </div>
    </div>
    <div class="card flex w-full bg-white p-4 justify-between">
      <div class="flex space-x-3">
        <div class="frame border border-solid w-32 h-32">
          <img src="http://placehold.it/100x100" class="w-full" />
        </div>
        <div class="flex flex-col">
          <h2 class="my-1">Shemar Moore</h2>
          <span class="">14 Nov 2022, 10:00 AM</span>
          <span class="">Portmore, St. Catherine</span>
          <span class="">hford@email.com</span>
          <span class="">+1 460 325-1536</span>
        </div>
      </div>
      <div class="flex items-center">
        <div class="flex space-x-3">
          <button
            type="button"
            class="border-none outline-none rounded px-2 text-lg font-medium bg-[#008CFF] text-[#0000CC] hover:opacity-80"
          >
            <span nz-icon nzType="eye" nzTheme="outline"></span>
            View
          </button>
          <button
            type="button"
            class="border-none outline-none rounded px-2 text-lg font-medium bg-[#D5E8D4] text-[#4D9900] hover:opacity-80"
          >
            <span nz-icon nzType="check" nzTheme="outline"></span>
            Accept
          </button>
          <button
            type="button"
            class="border-none outline-none rounded px-2 text-lg font-medium bg-[#FFE6CC] text-[#D79B00] hover:opacity-80"
          >
            <span nz-icon nzType="stop" nzTheme="outline"></span>
            Cancel
          </button>
        </div>
      </div>
    </div>
    <div class="card flex w-full bg-white p-4 justify-between">
      <div class="flex space-x-3">
        <div class="frame border border-solid w-32 h-32">
          <img src="http://placehold.it/100x100" class="w-full" />
        </div>
        <div class="flex flex-col">
          <h2 class="my-1">Danielle Craig</h2>
          <span class="">14 Nov 2022, 10:00 AM</span>
          <span class="">Portmore, St. Catherine</span>
          <span class="">hford@email.com</span>
          <span class="">+1 460 325-1536</span>
        </div>
      </div>
      <div class="flex items-center">
        <div class="flex space-x-3">
          <button
            type="button"
            class="border-none outline-none rounded px-2 text-lg font-medium bg-[#008CFF] text-[#0000CC] hover:opacity-80"
          >
            <span nz-icon nzType="eye" nzTheme="outline"></span>
            View
          </button>
          <button
            type="button"
            class="border-none outline-none rounded px-2 text-lg font-medium bg-[#D5E8D4] text-[#4D9900] hover:opacity-80"
          >
            <span nz-icon nzType="check" nzTheme="outline"></span>
            Accept
          </button>
          <button
            type="button"
            class="border-none outline-none rounded px-2 text-lg font-medium bg-[#FFE6CC] text-[#D79B00] hover:opacity-80"
          >
            <span nz-icon nzType="stop" nzTheme="outline"></span>
            Cancel
          </button>
        </div>
      </div>
    </div>
    <div class="card flex w-full bg-white p-4 justify-between">
      <div class="flex space-x-3">
        <div class="frame border border-solid w-32 h-32">
          <img src="http://placehold.it/100x100" class="w-full" />
        </div>
        <div class="flex flex-col">
          <h2 class="my-1">Danielle Craig</h2>
          <span class="">14 Nov 2022, 10:00 AM</span>
          <span class="">Portmore, St. Catherine</span>
          <span class="">hford@email.com</span>
          <span class="">+1 460 325-1536</span>
        </div>
      </div>
      <div class="flex items-center">
        <div class="flex space-x-3">
          <button
            type="button"
            class="border-none outline-none rounded px-2 text-lg font-medium bg-[#008CFF] text-[#0000CC] hover:opacity-80"
          >
            <span nz-icon nzType="eye" nzTheme="outline"></span>
            View
          </button>
          <button
            type="button"
            class="border-none outline-none rounded px-2 text-lg font-medium bg-[#D5E8D4] text-[#4D9900] hover:opacity-80"
          >
            <span nz-icon nzType="check" nzTheme="outline"></span>
            Accept
          </button>
          <button
            type="button"
            class="border-none outline-none rounded px-2 text-lg font-medium bg-[#FFE6CC] text-[#D79B00] hover:opacity-80"
          >
            <span nz-icon nzType="stop" nzTheme="outline"></span>
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
