<div class="w-full space-y-3">
  <div class="flex justify-end w-full space-x-4">
    <div class="text-lg flex space-x-2 items-center">
      <h1 class="">Specialities</h1>
      <div class="bg-[#007FFF] text-white px-1">48</div>
    </div>
    <button
      class="bg-[#E51400] border-none rounded outline-none px-3 py-1 text-lg text-white"
      type="button"
    >
      Add New
    </button>
  </div>
  <div class="w-full space-y-3">
    <div class="card bg-white w-full">
      <div
        class="flex justify-between items-center border-b border-x-0 border-t-0 border-solid"
      >
        <h1 class="p-3 text-lg">Specialites</h1>
        <div class="p-3 space-x-2">
          <button
            type="button"
            class="bg-white border border-solid rounded px-4"
          >
            Search
          </button>
          <button
            type="button"
            class="bg-white border border-solid rounded px-4"
          >
            Order by
          </button>
        </div>
      </div>
      <div class="w-full">
        <table class="w-full">
          <thead class="">
            <tr class="bg-[#E6E6FF] text-left">
              <th class="pl-4 py-2">SID</th>
              <th class="py-2">Product</th>

              <th class="py-2">&nbsp;</th>
            </tr>
          </thead>
          <tbody class="">
            <tr class="text-left">
              <td class="pl-4 py-2">#234</td>
              <td class="py-2">
                <div class="flex space-x-2">
                  <img src="http://placehold.it/60x60" />
                  <div class="flex flex-col">
                    <h4 class="font-semibold">Urology</h4>
                  </div>
                </div>
              </td>

              <td class="py-2">
                <div class="flex w-1/2 items-center justify-center space-x-2">
                  <a href="javascript:void(0);" class="text-black">Edit</a>
                  <a href="javascript:void(0);" class="text-[#FF3333]"
                    >Delete</a
                  >
                </div>
              </td>
            </tr>
            <tr class="text-left">
              <td class="pl-4 py-2">#345</td>
              <td class="py-2">
                <div class="flex space-x-2">
                  <img src="http://placehold.it/60x60" />
                  <div class="flex flex-col">
                    <h4 class="font-semibold">Dermology</h4>
                  </div>
                </div>
              </td>

              <td class="py-2">
                <div class="flex w-1/2 items-center justify-center space-x-2">
                  <a href="javascript:void(0);" class="text-black">Edit</a>
                  <a href="javascript:void(0);" class="text-[#FF3333]"
                    >Delete</a
                  >
                </div>
              </td>
            </tr>
            <tr class="text-left">
              <td class="pl-4 py-2">#456</td>
              <td class="py-2">
                <div class="flex space-x-2">
                  <img src="http://placehold.it/60x60" />
                  <div class="flex flex-col">
                    <h4 class="font-semibold">Neurology</h4>
                  </div>
                </div>
              </td>

              <td class="py-2">
                <div class="flex w-1/2 items-center justify-center space-x-2">
                  <a href="javascript:void(0);" class="text-black">Edit</a>
                  <a href="javascript:void(0);" class="text-[#FF3333]"
                    >Delete</a
                  >
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="flex w-full items-center justify-center space-x-2">
      <a href="javascript:void(0)" class="text-black">Previous</a>
      <button type="button" class="bg-[#E8E8E8] border-none rounded px-2 py-1">
        1
      </button>
      <a href="javascript:void(0)" class="text-black">Next</a>
    </div>
  </div>
</div>
