<h1 class="text-xl">Reset Password</h1>
<p class="">Enter your email to get a password reset link</p>
<form
  action="/otp"
  method="post"
  (ngSubmit)="doResetPassword(resetPasswordForm)"
  #resetPasswordForm="ngForm"
  class="w-full space-y-2"
>
  <div class="w-full">
    <input
      type="text"
      class="w-full border border-solid p-2 outline-none"
      placeholder="Email"
    />
  </div>
  <div class="w-full">
    <button
      type="submit"
      class="text-lg my-2 px-2 py-2 rounded bg-[#e05d00] shadow-none ring-0 border-none outline-none text-white w-full"
    >
      Reset Password
    </button>
  </div>
  <div class="w-full">
    <p class="text-center">
      Don't have an account? <a routerLink="/admin/signup">Sign Up</a>
    </p>
  </div>
</form>
