<div class="w-full space-y-2">
  <h1 class="text-3xl">Overview</h1>
  <div class="grid grid-cols-4 gap-3 w-full">
    <div class="widget flex items-center bg-white p-2 shadow-3xl">
      <img src="http://placehold.it/100x100" class="" />
      <div class="flex flex-col mx-2">
        <h2 class="font-normal">Patients</h2>
        <span class="font-bold">506</span>
      </div>
    </div>
    <div class="widget flex items-center bg-white p-2 shadow-3xl">
      <img src="http://placehold.it/100x100" class="" />
      <div class="flex flex-col mx-2">
        <h2 class="font-normal">Appointments</h2>
        <span class="font-bold">2952</span>
      </div>
    </div>
    <div class="widget flex items-center bg-white p-2 shadow-3xl">
      <img src="http://placehold.it/100x100" class="" />
      <div class="flex flex-col mx-2">
        <h2 class="font-normal">Doctors</h2>
        <span class="font-bold">1203</span>
      </div>
    </div>
  </div>
  <div class="flex w-full space-x-4">
    <div class="w-2/3">
      <div class="card bg-white w-full">
        <div class="border-b border-x-0 border-t-0 border-solid p-3 w-full">
          <h2 class="">Appointments</h2>
        </div>
        <div class="w-full p-3">
          <img class="" src="http://placehold.it/800x400" />
        </div>
      </div>
    </div>
    <div class="w-1/3">
      <div class="card bg-white w-full">
        <div class="border-b border-x-0 border-t-0 border-solid p-3 w-full">
          <h2 class="">Top Doctors</h2>
        </div>
        <div class="w-full">
          <table class="w-full">
            <tbody class="">
              <tr class="border-b border-x-0 border-t-0 border-solid p-3">
                <td class="p-3">
                  <div class="flex space-x-2">
                    <img src="http://placehold.it/60x60" />
                    <div class="flex flex-col">
                      <h4 class="font-semibold">Dr. Peter Wills</h4>
                      <span class="">Orthopedics</span>
                    </div>
                  </div>
                </td>
                <td class="">160 Patients</td>
              </tr>
              <tr class="border-b border-x-0 border-t-0 border-solid p-3">
                <td class="p-3">
                  <div class="flex space-x-2">
                    <img src="http://placehold.it/60x60" />
                    <div class="flex flex-col">
                      <h4 class="font-semibold">Dr. Frank Grimes</h4>
                      <span class="">Psychologist</span>
                    </div>
                  </div>
                </td>
                <td class="">10 Patients</td>
              </tr>
              <tr class="border-b border-x-0 border-t-0 border-solid p-3">
                <td class="p-3">
                  <div class="flex space-x-2">
                    <img src="http://placehold.it/60x60" />
                    <div class="flex flex-col">
                      <h4 class="font-semibold">Dr. Jamine Vargas</h4>
                      <span class="">Orthodontist</span>
                    </div>
                  </div>
                </td>
                <td class="">60 Patients</td>
              </tr>
              <tr class="border-b border-x-0 border-t-0 border-solid p-3">
                <td class="p-3">
                  <div class="flex space-x-2">
                    <img src="http://placehold.it/60x60" />
                    <div class="flex flex-col">
                      <h4 class="font-semibold">Dr. Susan Goodman</h4>
                      <span class="">Gynocologist</span>
                    </div>
                  </div>
                </td>
                <td class="">13 Patients</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="flex w-full items-center">
    <h2 class="">Today's Appointments</h2>
    &nbsp;
    <div
      class="w-8 h-8 rounded-full p-1 bg-blue-600 flex items-center justify-center text-white"
    >
      <span class="text-sm">23</span>
    </div>
  </div>
  <div class="flex w-full space-x-4">
    <div class="card bg-white w-1/3">
      <div class="border-b border-x-0 border-t-0 border-solid p-3 w-full">
        <div class="flex justify-between items-center">
          <h2 class="font-normal">Consultation ID: #14523</h2>
          <div
            class="rounded-full w-14 p-1 bg-[#F0A30A] text-white text-center"
          >
            50 Min
          </div>
        </div>
      </div>
      <div class="flex w-full p-3">
        <div class="w-1/2">
          <div class="flex flex-col w-full">
            <div class="flex space-x-2">
              <img src="http://placehold.it/60x60" />
              <div class="flex flex-col">
                <h4 class="font-semibold">Dr. Peter Wills</h4>
                <span class="">Orthopedics</span>
              </div>
            </div>
            <div class="my-2">
              <h3 class="text-gray-200">Today</h3>
              <p class="">08:00am - 08:50pm</p>
            </div>
          </div>
        </div>
        <div class="w-1/2">
          <div class="flex flex-col w-full">
            <div class="flex space-x-2">
              <img src="http://placehold.it/60x60" />
              <div class="flex flex-col">
                <h4 class="font-semibold">Dennis Wallace</h4>
                <span class="">ID: 456</span>
              </div>
            </div>
            <div class="my-2">
              <h3 class="text-gray-200">Booked on</h3>
              <p class="">12/08/2022, 08:30AM</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card bg-white w-1/3">
      <div class="border-b border-x-0 border-t-0 border-solid p-3 w-full">
        <div class="flex justify-between items-center">
          <h2 class="font-normal">Consultation ID: #14523</h2>
          <div
            class="rounded-full w-14 p-1 bg-[#F0A30A] text-white text-center"
          >
            50 Min
          </div>
        </div>
      </div>
      <div class="flex w-full p-3">
        <div class="w-1/2">
          <div class="flex flex-col w-full">
            <div class="flex space-x-2">
              <img src="http://placehold.it/60x60" />
              <div class="flex flex-col">
                <h4 class="font-semibold">Dr. Peter Wills</h4>
                <span class="">Orthopedics</span>
              </div>
            </div>
            <div class="my-2">
              <h3 class="text-gray-200">Today</h3>
              <p class="">08:00am - 08:50pm</p>
            </div>
          </div>
        </div>
        <div class="w-1/2">
          <div class="flex flex-col w-full">
            <div class="flex space-x-2">
              <img src="http://placehold.it/60x60" />
              <div class="flex flex-col">
                <h4 class="font-semibold">Dennis Wallace</h4>
                <span class="">ID: 456</span>
              </div>
            </div>
            <div class="my-2">
              <h3 class="text-gray-200">Booked on</h3>
              <p class="">12/08/2022, 08:30AM</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card bg-white w-1/3">
      <div class="border-b border-x-0 border-t-0 border-solid p-3 w-full">
        <div class="flex justify-between items-center">
          <h2 class="font-normal">Consultation ID: #14523</h2>
          <div
            class="rounded-full w-14 p-1 bg-[#F0A30A] text-white text-center"
          >
            50 Min
          </div>
        </div>
      </div>
      <div class="flex w-full p-3">
        <div class="w-1/2">
          <div class="flex flex-col w-full">
            <div class="flex space-x-2">
              <img src="http://placehold.it/60x60" />
              <div class="flex flex-col">
                <h4 class="font-semibold">Dr. Peter Wills</h4>
                <span class="">Orthopedics</span>
              </div>
            </div>
            <div class="my-2">
              <h3 class="text-gray-200">Today</h3>
              <p class="">08:00am - 08:50pm</p>
            </div>
          </div>
        </div>
        <div class="w-1/2">
          <div class="flex flex-col w-full">
            <div class="flex space-x-2">
              <img src="http://placehold.it/60x60" />
              <div class="flex flex-col">
                <h4 class="font-semibold">Dennis Wallace</h4>
                <span class="">ID: 456</span>
              </div>
            </div>
            <div class="my-2">
              <h3 class="text-gray-200">Booked on</h3>
              <p class="">12/08/2022, 08:30AM</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex w-full space-x-4">
    <div class="w-2/3">
      <div class="card bg-white w-full">
        <div class="border-b border-x-0 border-t-0 border-solid p-3 w-full">
          <div class="flex justify-between items-center">
            <h2 class="">Recent Patient Activity</h2>
            <button
              class="border border-solid rounded bg-white px-1"
              type="button"
            >
              9/28/2022 - 10/4/2022
            </button>
          </div>
        </div>
        <div class="flex w-full">
          <table class="w-full">
            <thead class="">
              <tr class="bg-[#E6E6FF] text-left">
                <th class="pl-4 py-2">ID</th>
                <th class="py-2">Patient</th>
                <th class="py-2">Member Since</th>
                <th class="py-2">Status</th>
              </tr>
            </thead>
            <tbody class="">
              <tr class="">
                <td class="pl-4 py-2">#123</td>
                <td class="py-2">
                  <div class="flex space-x-2">
                    <img src="http://placehold.it/60x60" />
                    <div class="flex flex-col">
                      <h4 class="font-semibold">Kamille Kerr</h4>
                      <span class="">Female, 23 Years Old</span>
                    </div>
                  </div>
                </td>
                <td class="py-2">
                  <div class="flex flex-col">
                    <span class="text-[#FFD966] font-semibold">New Patient</span
                    ><span class="">23 Sep 2022</span>
                  </div>
                </td>
                <td class="py-2">
                  <div
                    class="bg-[#E8E8E8] rounded flex w-1/2 items-center justify-center space-x-2"
                  >
                    <div class="bg-[#009900] w-4 h-4 rounded-full"></div>
                    <span class="text-[#009900]">Enabled</span>
                  </div>
                </td>
              </tr>
              <tr class="">
                <td class="pl-4 py-2">#001</td>
                <td class="py-2">
                  <div class="flex space-x-2">
                    <img src="http://placehold.it/60x60" />
                    <div class="flex flex-col">
                      <h4 class="font-semibold">Mason Brodber</h4>
                      <span class="">Male, 32 Years Old</span>
                    </div>
                  </div>
                </td>
                <td class="py-2">
                  <div class="flex flex-col">
                    <span class="text-[#FF3333] font-semibold">Old Patient</span
                    ><span class="">23 Sep 2022</span>
                  </div>
                </td>
                <td class="py-2">
                  <div
                    class="bg-[#E8E8E8] rounded flex w-1/2 items-center justify-center space-x-2"
                  >
                    <div class="bg-[#FF3333] w-4 h-4 rounded-full"></div>
                    <span class="text-[#FF3333]">Disabled</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="flex flex-col w-1/3 space-y-2">
      <div class="w-full">
        <div class="card bg-white w-full">
          <div class="border-b border-x-0 border-t-0 border-solid p-3 w-full">
            <div class="flex justify-between items-center">
              <h2 class="">Appointment Status</h2>
              <button
                class="border border-solid rounded bg-white px-1"
                type="button"
              >
                This Week
              </button>
            </div>
          </div>
          <div class="flex w-full space-x-2">
            <div class="w-1/2">
              <img src="http://placehold.it/100x100" class="w-full" />
            </div>
            <div class="flex flex-col w-1/2 space-y-3 py-4">
              <div class="w-full">
                <h3 class="">Completed Appointment(s)</h3>
                <span class="font-semibold text-blue-500">820</span>
              </div>
              <div class="w-full">
                <h3 class="">Cancelled Appointment(s)</h3>
                <span class="font-semibold">150</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex w-full space-x-2">
        <div class="card bg-white shadow w-1/2 p-3">
          <h3 class="">Consultation Today</h3>
          <img class="" src="http://placehold.it/100x100" />
        </div>

        <div class="w-1/2 space-y-2">
          <div class="card bg-white shadow w-full h-1/2 p-3">
            <h4 class="">New Patients</h4>
            <h1 class="text-xl">150</h1>
          </div>
          <div class="card bg-white shadow w-full h-1/2 p-3">
            <h4 class="">Old Patients</h4>
            <h1 class="text-xl">50</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
