<section class="flex flex-col py-6 mx-auto w-11/12 space-y-4">
  <div class="card bg-white rounded py-4 border border-gray-300 border-solid">
    <div class="flex flex-col md:flex-row items-center w-5/6 mx-auto">
      <i class="w-1/6 not-italic">
        <a href="#">
          <svg
            viewBox="0 0 24 24"
            class="w-32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M16.5 7.063C16.5 10.258 14.57 13 12 13c-2.572 0-4.5-2.742-4.5-5.938C7.5 3.868 9.16 2 12 2s4.5 1.867 4.5 5.063zM4.102 20.142C4.487 20.6 6.145 22 12 22c5.855 0 7.512-1.4 7.898-1.857a.416.416 0 0 0 .09-.317C19.9 18.944 19.106 15 12 15s-7.9 3.944-7.989 4.826a.416.416 0 0 0 .091.317z"
                fill="#000000"
              ></path>
            </g>
          </svg>
        </a>
      </i>
      <div class="w-full md:w-4/6 flex flex-col items-center md:items-start">
        <a href="#" class="text-[#008CFF] text-lg font-semibold"
          >Dr. Shawn Medicore</a
        >
        <i class="not-italic">MDS - Periodontology and Oral Impantology, BDS</i>
        <i class="not-italic"
          ><span class="font-semibold">Dentist</span>&nbsp;&nbsp;Portmore, St.
          Catherine</i
        >
        <i class="not-italic py-4"
          ><span
            class="rounded py-[2px] border-2 border-[#e05d00] bg-transparent shadow-none ring-0 border-solid text-xs p-1"
          >
            Dental Filings</span
          >&nbsp;<span
            class="rounded py-[2px] border-2 border-[#e05d00] bg-transparent shadow-none ring-0 border-solid text-xs p-1"
          >
            Whitening
          </span></i
        >
      </div>

      <div class="w-full md:w-1/6 flex flex-col justify-center">
        <a
          routerLink="/booking"
          class="w-full uppercase text-center my-2 py-2 rounded bg-[#e05d00] shadow-none ring-0 text-white hover:text-white border-2 border-[#e05d00] border-solid font-semibold cursor-pointer"
        >
          Book Appointment
        </a>
      </div>
    </div>
  </div>
  <div class="card bg-white rounded py-4 border border-gray-300 border-solid">
    <div class="flex flex-col w-5/6 mx-auto">
      <h2 class="title font-semibold text-2xl my-2">About Me</h2>
      <p class="my-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
      <h2 class="title font-normal text-2xl my-2">Education</h2>
      <ol
        class="relative border-solid border-y-transparent border-r-transparent border-l border-l-gray-200 list-none pl-0"
      >
        <li class="mb-5 ml-4">
          <div
            class="absolute w-4 h-4 bg-[#FFD966] rounded-full mt-1 -left-2 border-2 border-solid border-[#E05D00]"
          ></div>
          <h4 class="">American Dental Medical University</h4>
          <p class="">BDS</p>
          <time class="">1998 - 2003</time>
        </li>
        <li class="mb-5 ml-4">
          <div
            class="absolute w-4 h-4 bg-[#FFD966] rounded-full mt-1 -left-2 border-2 border-solid border-[#E05D00]"
          ></div>
          <h4 class="">American Dental Medical University</h4>
          <p class="">MDS</p>
          <time class="">2003 - 2005</time>
        </li>
      </ol>
      <h2 class="title font-normal text-2xl my-2">Work & Experience</h2>
      <ol
        class="relative border-solid border-y-transparent border-r-transparent border-l border-l-gray-200 list-none pl-0"
      >
        <li class="mb-5 ml-4">
          <div
            class="absolute w-4 h-4 bg-[#FFD966] rounded-full mt-1 -left-2 border-2 border-solid border-[#E05D00]"
          ></div>
          <h4 class="">Glowing Smile Family Dental Clinic</h4>
          <time class="">2010 - Present (12 years)</time>
        </li>
        <li class="mb-5 ml-4">
          <div
            class="absolute w-4 h-4 bg-[#FFD966] rounded-full mt-1 -left-2 border-2 border-solid border-[#E05D00]"
          ></div>
          <h4 class="">Comfort Care Dental Clinic</h4>
          <time class="">2007 - 2010 (3 years)</time>
        </li>

        <li class="mb-5 ml-4">
          <div
            class="absolute w-4 h-4 bg-[#FFD966] rounded-full mt-1 -left-2 border-2 border-solid border-[#E05D00]"
          ></div>
          <h4 class="">Dream Smile Dental Practice</h4>
          <time class="">2005 - 2007 (2 years)</time>
        </li>
      </ol>
      <h2 class="title font-normal text-2xl my-2">Awards</h2>
      <ol
        class="relative border-solid border-y-transparent border-r-transparent border-l border-l-gray-200 list-none pl-0"
      >
        <li class="mb-5 ml-4">
          <div
            class="absolute w-4 h-4 bg-[#FFD966] rounded-full mt-1 -left-2 border-2 border-solid border-[#E05D00]"
          ></div>
          <time class="text-[#0083E0]">July 2019</time>
          <h4 class="">Humanitarian Award</h4>
          <p class="">
            Lorem ipsum dolor sit smet, consectetur adipiscing elit sed do
            eiusmod tempor incidunt ut labore et dolore magna aliqua.
          </p>
        </li>
        <li class="mb-5 ml-4">
          <div
            class="absolute w-4 h-4 bg-[#FFD966] rounded-full mt-1 -left-2 border-2 border-solid border-[#E05D00]"
          ></div>
          <time class="text-[#0083E0]">March 2011</time>
          <h4 class="">Certificate for International Volunteer Service</h4>
          <p class="">
            Lorem ipsum dolor sit smet, consectetur adipiscing elit sed do
            eiusmod tempor incidunt ut labore et dolore magna aliqua.
          </p>
        </li>

        <li class="mb-5 ml-4">
          <div
            class="absolute w-4 h-4 bg-[#FFD966] rounded-full mt-1 -left-2 border-2 border-solid border-[#E05D00]"
          ></div>
          <time class="text-[#0083E0]">May 2008</time>
          <h4 class="">The Dental Professional of The Year Award</h4>
          <p class="">
            Lorem ipsum dolor sit smet, consectetur adipiscing elit sed do
            eiusmod tempor incidunt ut labore et dolore magna aliqua.
          </p>
        </li>
      </ol>
      <h2 class="title font-normal text-2xl my-2">Services</h2>
      <ul class="flex flex-wrap items-center mb-6 list-none space-x-8 pl-0">
        <li class="flex flex-row items-center">
          <i class="mr-2"
            ><svg
              fill="#000000"
              class="w-4"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 512 512"
              enable-background="new 0 0 512 512"
              xml:space="preserve"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <polygon
                  points="512,261.5 298.7,90.8 298.7,218.8 0,218.8 0,304.2 298.7,304.2 298.7,432.2 "
                ></polygon>
              </g></svg></i
          ><span>Composite Bonding</span>
        </li>
        <li class="flex flex-row items-center">
          <i class="mr-2"
            ><svg
              fill="#000000"
              class="w-4"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 512 512"
              enable-background="new 0 0 512 512"
              xml:space="preserve"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <polygon
                  points="512,261.5 298.7,90.8 298.7,218.8 0,218.8 0,304.2 298.7,304.2 298.7,432.2 "
                ></polygon>
              </g></svg></i
          ><span>Fissure Sealants</span>
        </li>
        <li class="flex flex-row items-center">
          <i class="mr-2"
            ><svg
              fill="#000000"
              class="w-4"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 512 512"
              enable-background="new 0 0 512 512"
              xml:space="preserve"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <polygon
                  points="512,261.5 298.7,90.8 298.7,218.8 0,218.8 0,304.2 298.7,304.2 298.7,432.2 "
                ></polygon>
              </g></svg></i
          ><span>Surgical Extractions</span>
        </li>
      </ul>
      <ul class="flex flex-wrap items-center mb-6 list-none space-x-8 pl-0">
        <li class="flex flex-row items-center">
          <i class="mr-2"
            ><svg
              fill="#000000"
              class="w-4"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 512 512"
              enable-background="new 0 0 512 512"
              xml:space="preserve"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <polygon
                  points="512,261.5 298.7,90.8 298.7,218.8 0,218.8 0,304.2 298.7,304.2 298.7,432.2 "
                ></polygon>
              </g></svg></i
          ><span>Tooth Cleaning</span>
        </li>
        <li class="flex flex-row items-center">
          <i class="mr-2"
            ><svg
              fill="#000000"
              class="w-4"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 512 512"
              enable-background="new 0 0 512 512"
              xml:space="preserve"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <polygon
                  points="512,261.5 298.7,90.8 298.7,218.8 0,218.8 0,304.2 298.7,304.2 298.7,432.2 "
                ></polygon>
              </g></svg></i
          ><span>Root Canal Therapy</span>
        </li>
        <li class="flex flex-row items-center">
          <i class="mr-2"
            ><svg
              fill="#000000"
              class="w-4"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 512 512"
              enable-background="new 0 0 512 512"
              xml:space="preserve"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <polygon
                  points="512,261.5 298.7,90.8 298.7,218.8 0,218.8 0,304.2 298.7,304.2 298.7,432.2 "
                ></polygon>
              </g></svg></i
          ><span>Implants</span>
        </li>
      </ul>
      <h2 class="title font-normal text-2xl my-2">Specializations</h2>
      <ul class="flex flex-wrap items-center mb-6 list-none space-x-8 pl-0">
        <li class="flex flex-row items-center">
          <i class="mr-2"
            ><svg
              fill="#000000"
              class="w-4"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 512 512"
              enable-background="new 0 0 512 512"
              xml:space="preserve"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <polygon
                  points="512,261.5 298.7,90.8 298.7,218.8 0,218.8 0,304.2 298.7,304.2 298.7,432.2 "
                ></polygon>
              </g></svg></i
          ><span>Children Care</span>
        </li>
        <li class="flex flex-row items-center">
          <i class="mr-2"
            ><svg
              fill="#000000"
              class="w-4"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 512 512"
              enable-background="new 0 0 512 512"
              xml:space="preserve"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <polygon
                  points="512,261.5 298.7,90.8 298.7,218.8 0,218.8 0,304.2 298.7,304.2 298.7,432.2 "
                ></polygon>
              </g></svg></i
          ><span>Dental Care</span>
        </li>
        <li class="flex flex-row items-center">
          <i class="mr-2"
            ><svg
              fill="#000000"
              class="w-4"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 512 512"
              enable-background="new 0 0 512 512"
              xml:space="preserve"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <polygon
                  points="512,261.5 298.7,90.8 298.7,218.8 0,218.8 0,304.2 298.7,304.2 298.7,432.2 "
                ></polygon>
              </g></svg></i
          ><span>Oral and Maxillofacial Surgery</span>
        </li>
      </ul>
      <ul class="flex flex-wrap items-center mb-6 list-none space-x-8 pl-0">
        <li class="flex flex-row items-center">
          <i class="mr-2"
            ><svg
              fill="#000000"
              class="w-4"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 512 512"
              enable-background="new 0 0 512 512"
              xml:space="preserve"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <polygon
                  points="512,261.5 298.7,90.8 298.7,218.8 0,218.8 0,304.2 298.7,304.2 298.7,432.2 "
                ></polygon>
              </g></svg></i
          ><span>Orthodontist</span>
        </li>
        <li class="flex flex-row items-center">
          <i class="mr-2"
            ><svg
              fill="#000000"
              class="w-4"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 512 512"
              enable-background="new 0 0 512 512"
              xml:space="preserve"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <polygon
                  points="512,261.5 298.7,90.8 298.7,218.8 0,218.8 0,304.2 298.7,304.2 298.7,432.2 "
                ></polygon>
              </g></svg></i
          ><span>Periodontist</span>
        </li>
        <li class="flex flex-row items-center">
          <i class="mr-2"
            ><svg
              fill="#000000"
              class="w-4"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 512 512"
              enable-background="new 0 0 512 512"
              xml:space="preserve"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <polygon
                  points="512,261.5 298.7,90.8 298.7,218.8 0,218.8 0,304.2 298.7,304.2 298.7,432.2 "
                ></polygon>
              </g></svg></i
          ><span>Prosthodontics</span>
        </li>
      </ul>
    </div>
  </div>
</section>
